body {
    font-family: Times New Roman;
    background: LightBlue;
    margin: 2em;
}

fieldset {
  border-radius: .9em;
    width: 25em;
    height: 28em;
  background: white;
  padding: 1em;
	border-color: MidnightBlue ;
	border-style: solid;
	border-width: 0.5em;

}

#buttonHolder *{
    display: inline-block;
}

.cssList {
    background-color: lightpink;
    border: .5em double red;
    border-radius: .9em;
    width: 75%;
    height: 100%;
    margin: 0 auto;
    zoom: 1.50;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#checkoutcss *{
  border: .5em;
  border-color: black;
  border-radius: .9em;
}
