body {
    font-family: Times New Roman;

    margin: 2em;
    background-image: url("background.jpg");
    background-size: 1200px 1200px;
}

fieldset {
  border-radius: .9em;
    width: 25em;
    height: 28em;
  background: white;
  padding: 1em;
	border-color: MidnightBlue ;
	border-style: solid;
	border-width: 0.5em;

}

#buttonHolder *{
    display: inline-block;
}

.cssList {
    background-color: lightpink;
    border: .5em double red;
    border-radius: .9em;
    width: 75%;
    height: 100%;
    margin: 0 auto;
    zoom: 1.50;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#checkoutcss *{
  border: .5em;
  border-color: black;
  border-radius: .9em;
}

#profilePic {
    width: 200px;
    height: 200px;
    background-image: url("login.jpg");
    background-size: 200px 200px;

    color:transparent;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;

}


#welcome{
    font-size: 70px;
    color: Blue;

}
hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0;
}

